body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

h1 {
    color: #0d6efd;
    font-weight: 700;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header.bg-secondary {
    background-color: #6c757d !important;
}

#resultadoValorImposto {
    font-size: 1.25rem;
}

#resultadoValorTotal {
    font-size: 1.5rem;
}